data/*
!data/README.md

smpl/**/*.pkl
smpl/**/*.npz

supp_repos/Depth_Anything_main/*

outputs/checkpoints/*
outputs/train/*
outputs/eval/*
!outputs/README.md
!outputs/checkpoints/.gitkeep
!outputs/train/.gitkeep
!outputs/eval/.gitkeep

wandb/*